{% extends "base_generic.html" %}

{% block content %}
  {% if project_list %}
    <h1>Recent projects </h1>
    These are some of the projects that I've been working on since 2022, generally in order to learn and apply new concepts studied.

      {% for project in project_list %}
        {% if not project.older_project%}
          <h2> {{project.title}} </h2>
          <p> 
            {{project.summary}}
            <br>
            Tech used: {{project.skill.all}}
            <br>
            Repo link: <a href="{{project.github_link}}"> {{project.github_link}} </a>   
          </p>
        {% endif %}
      {% endfor %}
      
    <h1> Older projects </h1>
    These are some of the projects that I've worked on during my college years:

      {% for project in project_list %}
        {% if project.older_project %}
          <h2> {{project.title}} </h2>
            <p> 
              {{project.summary}}
              <br>
              Tech used: {{project.skill.all}}
              <br>
              Repo link: <a href="{{project.github_link}}"> {{project.github_link}} </a>   
            </p>
        {% endif %}
      {% endfor %}

  {% else %}
    <p>No projects were added to the database.</p>
  {% endif %}
{% endblock %}
